.main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.color-div {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  margin: 10px;
}
#square {
  width: 200px;
  height: 200px;
  border: 2px solid black;
}
